%h1= @album.name
%p= image_tag(@album.image)

%table
  %tr
    %th artist
    %th play
    %th song
    %th edit
    %th delete
  - @album.songs.each do |song|
    %tr{:class => cycle('row0', 'row1')}
      %td= image_tag(song.artist.image) if song.artist.present?
      %td= audio_tag(song.filename, :controls => true)
      %td= song.name
      %td= link_to('Edit', edit_song_path(song), :class => 'success button tiny radius') if is_admin
      %td= link_to('Delete', song, :method => 'delete', :class => 'alert button tiny radius') if is_admin
