
<section>
  <div><%= @painting.title %></div>
  <div><%= image_tag(@painting.image) %></div>
  <div>Medium: <%= @painting.medium %></div>
  <div>Year: <%= @painting.year %></div>
  <div>Style: <%= @painting.style %></div>
</section>
