%h1 underscore + timers

= text_field_tag 'number', nil, :autofocus => true
= button_tag 'Add Number', :id => 'add_number'
= button_tag 'Square Number', :id => 'square_number'
= button_tag 'Function', :id => 'fn'
= button_tag 'Start', :id => 'start'
= button_tag 'Stop', :id => 'stop'

#numbers
  .clear