<h5><%= link_to(@recipe.name, recipes_path) %></h5>
<div>Course: <%= @recipe.course %></div>
<div>Cooking time: <%= @recipe.cooktime %> minutes</div>
<div>Servings: <%= @recipe.servingsize %></div>
<div>Instructions: <%= @recipe.instructions %></div>
<div><%= image_tag(@recipe.image) %></div>
<div><%= link_to('Edit', edit_recipe_path(@recipe)) %>  |
%= link_to('Delete', @recipe, :method => :delete, :confirm => 'Okay to delete?') %></div>
<br>
<div>
<% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <%= image_tag(ingredient.image) %>
<% end %>
</div>





