<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>In theatres:</b>
  <%= @movie.in_theatres %>
</p>

<p>
  <b>Released:</b>
  <%= @movie.released %>
</p>

<p>
  <b>Other:</b>
  <%= @movie.other %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
